@font-face {
    font-family: 'nanum';
    src: url('../NanumSquare/NanumSquareR.otf') format('opentype');
}

@font-face {
    font-family: 'nanumBold';
    src: url('../NanumSquare/NanumSquareB.otf') format('opentype');
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
