@font-face {
    font-family: 'nanum';
    src: url('../NanumSquare/NanumSquareR.otf') format('opentype');
}

@font-face {
    font-family: 'nanumBold';
    src: url('../NanumSquare/NanumSquareB.otf') format('opentype');
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-body {
    font-family: nanum;
    height: 100vh;
}
.signup {
    width: 28%;
    height: 80vh;
    justify-content: space-between;
}

.signup-logo {
    width: 60%;
}

.signup-header {
    letter-spacing: 5px;
    margin-bottom: 40px;
}

.signup-section {
    height: 80%;
}

.signup-form-div {
    align-items: center;
    width: 100%;
}

.signup-form {
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

.signup-explain-div {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 60%;
}

.signup-explain-font {
    font-size: 13px;
    margin-top: 0;
}

.signup-check-img {
    width: 6%;
}

.signup-border {
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #F66B0E solid 2px;
}

.signup-input {
    height: 30%;
}

.signup-id-input {
    border: none;
    width: 90%;
    height: 85%;
}

.signup-warning-font {
    font-size: 12px;
    color: #F66B0E;
    margin-bottom: 0;
}

.signup-warning-div {
    display: none;
    align-items: end;
    justify-content: end;
    width: 60%;
    height: 25%;
}

.signup-select {
    height: 45%;
}

.signup-submit-btn {
    background-color: white;
    border: none;
    color: #F66B0E;
    font-size: 20px;
    font-family: nanumBold;
    margin-top: 5%;
    letter-spacing: 5px;
    cursor: pointer;
}